header {
  top: 0;
  margin: 0;
  background-color: #FBE8D3;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.headerlogo {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.hl {
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #8B715E;
  border-radius: 7px;
  margin: 0 2.5px 0 2.5px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.hl:hover {
  color: #FF7755;
}


