header {
  top: 0;
  margin: 0;
  background-color: #FBE8D3;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #000;
}

footer {
  background-color: #F5D7C3;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(215, 186, 170, 0.3);
  display: flex;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  padding: 20px 0;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.headerlogo {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-right: 2.5px;
  cursor: pointer;
}

.hl {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #8B715E;
  border-radius: 7px;
  margin: 0 2.5px 0 2.5px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.hl:hover,
.hlm:hover {
  color: #FF7755;
}

.ftitle {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #5C4631;
  text-align: center;
}


.flink {
  color: #8B715E;
  font-size: 1em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.flink:hover {
  color: #FF7755;
}

.fcol1, .fcol2, .fcol3, .fcol4 {
  max-width: 200px;
}

.fcol4 {
  position: relative;
}

.fcol4 .flink {
  display: flex;
  align-items: center;
}

.fbottom {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.fs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.s {
  border-radius: 50%;
  font-size: 30px;
  color: #8B715E;
  background-color: #E5C5B1;
  padding: 5px;
  margin: 0 2.5px 0 2.5px;
  width: 35px;
  height: auto;
  text-align: center;
}

.s:hover {
  background-color: #FF7755;
}

.copyright {
  text-align: center;
  font-size: 25px;
  color: #5C4631;
  margin: 5px;
}

.fcols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15%;
  flex-wrap: wrap;
}

.hlm,
.div,
.bars,
.mobile {
  display: none;
}

.mobile {
  display: none;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: #FFD580;
  z-index: 100;
  padding: 10px;
  transition: max-height 0.4s ease;
}

.mobile.active {
  display: flex;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: row;
    text-align: center;
  }

  .bars {
    cursor: pointer;
    font-size: 30px;
    color: #8B715E;
    padding: 10px;
  }

  .right,
  .left {
    display: none;
  }

  .hlm,
  .div,
  .bars {
    display: block;
  }

  .hlm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
    margin: 5px 0;
    text-decoration: none;
    font-weight: 500;
    color: #8B715E; 
    transition: color 0.3s ease;
  }

  .div {
    width: 1px;
    height: 20px;
    background: #E5C5B1;
  }

  .headerlogo {
    width: 150px;
  }

  .fcols {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .ftitle {
    font-size: 1.5em;
  }

  .flink {
    font-size: 1em;
  }

  .copyright {
    font-size: 18px;
  }

  .s {
    font-size: 20px;
    width: 30px;
  }
}
