@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
}

#hero {
  background-color: #FFECD1;
  padding: 10px;
  margin: 0;
  color: #4A3F35;
  text-align: center;
}

.slogan {
  font-size: 50px;
  font-weight: 300;
}

.intro {
  font-size: 30px;
  font-weight: 150;
}

