@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
}

#hero {
  background-color: #FFECD1;
  padding: 10px;
  margin: 0;
  color: #4A3F35;
  text-align: center;
}

.heroimg {
  width: 20px;
  height: auto;
  object-fit: cover;
}
.slogan {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}

.intro {
  font-size: 30px;
  font-weight: 250;
  margin-top: 5px;
}

#row1,
#row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row1 {
  flex-direction: row;
}

#row2 {
  flex-direction: column;
}

#marketapi,
#hashapi {
  color: #4A3F35;
  background-color: #FFECD1;
  border-radius: 9px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  left: 0;
  width: fit-content;
}

.apitxt {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

#intro1,
#intro2 {
  color: #4A3F35;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 75%;
  background-color: #FFECD1;
  border-radius: 9px;
  padding: 20px;
}

#intro1 {
  margin: 20px 20px 0 20px;
}

#intro2 {
  margin: 5px 20px 20px 20px;
}

.introtitle {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}

.introdesc {
  margin: 5px 0;
  font-size: 30px;
  font-weight: 250;
  text-align: left;
}
