@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
}

#hero {
  background-color: #FFECD1;
  padding: 10px;
  margin: 0;
  color: #4A3F35;
  text-align: center;
}

.heroimg {
  width: 20px;
  height: auto;
  object-fit: cover;
}
.slogan {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}

.intro {
  font-size: 30px;
  font-weight: 250;
  margin-top: 5px;
}

.marketapi {
  background-color:	#FFD580;
  border-radius: 9px;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.markettxt {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin: 2.5px 0 2.5px 0;
}
