@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
  height: auto;
  min-height: 100vh;
}

#hero,
#getstarted {
  background-color: #FFECD1;
  padding: 20px;
  color: #4A3F35;
  text-align: center;
  margin: 0;
}

#getstarted {
  padding-bottom: 50px;
}

.heroimg {
  width: 20px;
  height: auto;
  object-fit: cover;
}

.slogan {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}

.starttitle {
  font-size: 45px;
  font-weight: 450;
  margin-bottom: 20px;
}

.intro {
  font-size: 30px;
  font-weight: 250;
  margin-top: 5px;
}

#row1,
#row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row1 {
  flex-direction: row;
}

#row2 {
  flex-direction: column;
}

#marketapi,
#hashapi {
  color: #4A3F35;
  background-color: #FFECD1;
  border-radius: 9px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  left: 0;
  width: fit-content;
}

.apitxt {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

#intro1,
#intro2,
#intro3,
#intro4 {
  color: #4A3F35;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  background-color: #FFECD1;
  border-radius: 9px;
  padding: 20px;
}

#intro1 {
  margin: 20px 20px 0 20px;
}

#intro2 {
  margin: 20px 20px 0 20px;
}

#intro3 {
  margin: 20px 20px 0 20px;
}

#intro4 {
  margin: 20px;
}

.introtitle {
  margin: 0;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}

.introdesc {
  color: #7D6752;
  margin: 5px 0;
  font-size: 30px;
  font-weight: 250;
  text-align: left;
}

.start {
  text-align: center;
  text-decoration: none;
  background-color: #FFD580;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 20px;
  color: #8B715E;
  font-size: 35px;
  font-weight: 300;
  cursor: pointer;
}

.start:hover {
  background-color: #fff2d6;
}
