@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF8E7;
}

#hero {
  background-color: #FFECD1;
  padding: 10px;
  margin: 0;
  color: #4A3F35;
  text-align: center;
}

.heroimg {
  width: 20px;
  height: auto;
  object-fit: cover;
}
.slogan {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0;
}

.intro {
  font-size: 30px;
  font-weight: 250;
  margin-top: 5px;
}

#marketintro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#marketapi {
  color: #4A3F35;
  background-color: #FFECD1;
  border-radius: 9px;
  margin: 20px 0 20px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  left: 0;
  width: fit-content;
}

.markettxt {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

#intro1 {
  color: #4A3F35;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.introtitle {
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
}

.introdesc {
  font-size: 30px;
  font-weight: 250;
  text-align: left;
}
